.selectable > div {
    background-color: black;
    height: 50px;
    box-shadow:darkgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    border: 3px solid yellow;
}

.selectable > div:hover {
    background-color:darkred;
    color: black;
}
.dashboard-container {
    background-color:lightgray;
    min-height: 100%;
}