.form-container {
    min-height: 100vh;
  div {
      text-align: center;
    }
    
    input {
      outline: 0;
      border-width: 0 0 1px;
      border-color: rgba(0, 0, 0, 0.125);
    }
    input:focus {
      border-color: #0a9484;
    }
    
    .login-card {
      border-radius: 20px;
    }
    
    input::placeholder {
      font-size: 10px;
    }
    
    .sign-up-rp {
      font-size: 12px;
      color: gray;
    }
    
    .custom-button {
      background-color: #0a9484;
      color: white;
      border-radius: 10px;
    }
  }